@import url("https://fonts.googleapis.com/css  ");
*{

margin: 0;
    padding:0;
    outline: 0;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
background: powderblue;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: white;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin:10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
 padding-left:30px;
 font-size: 18px;
    text-transform: uppercase;

}
a{
position: relative;
    color: gray;
    font-size: 14px;
    display: table;
    width: 100px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}
nav-item{
position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 250px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

.navM{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: montserrat;

}

.navM{
    background: #0082e6;
    height: 80px;
}
.label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.cards-wrapper{
  column-gap: 15px;
}

.c-item{
height: 280px;
}

.c-item{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview{
    height: 80px;
    background-color: white;
}

.contanier{
    margin-bottom: auto;
    margin-left: 200px;
}

h2{
    text-align: center;
    font-size: x-large;
    font-family: "Poppins",sans-serif , "Inter Semi Bold";
    color: white;
}
result{
    font-size: 400px;
    font-family: "Poppins",sans-serif , "Inter Semi Bold";
}

.carousel-item{

    margin-left: 100px;
    height: 32rem;
    background: #777;
    position: relative;

}
.contanier{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

}

