@import url("https://fonts.googleapis.com/css  ");
*{

    margin: 0;
    padding:0;
    outline: 0;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
title{
    font-size: 30px;
    font-weight: 600;
    color:blue;
    letter-spacing: 1px;
    margin:30px 0;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 190vh;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: white;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin:10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span {
    font-weight: bold;
    padding-left:30px;
    font-size: 18px;
    text-transform: uppercase;

}
a{
    position: relative;
    color: gray;
    font-size: 14px;
    display: table;
    width: 100px;
    padding: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}
nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
nav:hover{
    width: 250px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}

